<ion-view title="Announcements">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" padding="true">
        <ion-list>
            <div class="item item-divider">Recent Announcements</div>

            <ion-item ui-sref="app.announcement({uuid: a.uuid})" class="item item-icon-right" ng-repeat="a in announcements | orderBy:orderPredicate">
                [{{a.classTitle}}] {{ a.title }}<i class="icon ion-ios7-arrow-right"></i>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
